<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <h2>Productos</h2>
  <hr>

  <div class="products-grid">
    {{#each products}}
      <article class="product-card" data-id="{{_id}}">
        <div class="product-info">
          <h3 class="product-title">{{title}}</h3>
          <p class="product-price">$ {{price}}</p>
          <p class="product-desc">{{description}}</p>
          <a class="btn" href="/api/products/{{_id}}">Ver Producto</a>
          <a href="#" class="btn add-to-cart" data-product-id="{{_id}}">Agregar al Carrito</a>
        </div>
      </article>
    {{/each}}
  </div>

  <nav class="pagination">
    <a class="page-link" href="/api/products?page=1">Primera</a>
    {{#if hasPrevPage}}
      <a class="page-link" href="/api/products?page={{prevPage}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a class="page-link" href="/api/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
    <a class="page-link" href="/api/products?page={{totalPages}}">Última</a>
  </nav>
</div>

<script src="/js/home.js"></script>