<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

<h2>Productos</h2>
<hr>

<ul id="product-list">
    {{#each products}}
        <li data-id="{{_id}}">
        <h3>{{title}}</h3>
        <p>Precio: ${{price}}</p>
        <p>Descripción: {{description}}</p>
          <a href="#" class="btn btn-danger delete-product" data-id="{{_id}}">Eliminar</a>
        </li>
    {{/each}}
</ul>

<form id="add-product-form" class="product-form">
  <input type="text" name="id" id="id" placeholder="ID">
  <input type="text" name="title" id="title" placeholder="Título" required>
  <input type="number" name="price" id="price" placeholder="Precio" required>
  <input type="text" name="description" id="description" placeholder="Descripción" required>
  <input type="text" name="code" id="code" placeholder="Código" required>
  <input type="number" name="stock" id="stock" placeholder="Stock" required>
  <input type="text" name="category" id="category" placeholder="Categoría" required>
  <button type="submit" class="btn btn-primary">Agregar Producto</button>
</form>